.desktop {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;

    .desktop-area {
        flex: 1;
        position: relative;
        width: 100%;
    }
}